:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;
}

body {
  margin: 0px;
  background-color: var(--color-black);
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

li {
  list-style: none;
}

.container {
  margin: auto;
  width: 60%;
  min-width: 900px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-black);
  padding-top: 200px;
}

.logo img {
  width: 150px;
  cursor: pointer;
}

.buttonList {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 50px 0px;
  padding: 0px;
}

.buttonList__btn {
  cursor: pointer;
}

.buttonList__btn.color {
  width: 130px;
  padding-top: 40px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.buttonList__btn.color:nth-child(4) {
  background-color: var(--color-blue);
}

.buttonList__btn.color:nth-child(5) {
  background-color: var(--color-yellow);
}

.buttonList__btn.color:nth-child(6) {
  background-color: var(--color-pink);
}

.clothesList {
  width: 100%;
  height: 700px;
  overflow-y: scroll;
  padding: 0px;
  margin-bottom: 200px;
}

.clothesList_item:first-child {
  margin-top: 0px;
}

.clothesList_item {
  width: 100%;
  height: 100px;
  margin: 20px 0px;
  padding: 0px 20px;
  background-color: var(--color-white);
}

.clothesList_item {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}

.clothesList_item_sex {
  width: 60px;
}

.clothesList_item_sex {
  margin: 0px 30px;
}

.hide {
  display: none;
}
